@charset "UTF-8";
/* CSS Document */

/* notifications-widget */


position: absolute;
width: 1009px;
height: 219px;
left: 309px;
top: 196px;



/* social-media-widget */


position: absolute;
width: 463px;
height: 462px;
left: 309px;
top: 998px;



/* email-widget */


position: absolute;
width: 460px;
height: 360px;
left: 858px;
top: 1100px;



/* upcoming-class */


position: absolute;
width: 463px;
height: 447px;
left: 309px;
top: 481px;



/* Group 27 */


position: absolute;
width: 460px;
height: 545px;
left: 858px;
top: 481px;



/* vertical-nav */


position: absolute;
width: 226px;
height: 1594px;
left: 1px;
top: 0px;



/* TOP-NAV-calendar-ADDDROP1 */


position: absolute;
width: 1062px;
height: 51px;
left: 309px;
top: 63px;



/* sidenav */


position: absolute;
width: 214px;
height: 1594px;
left: 0px;
top: 0px;
